@tailwind base;
@tailwind components;
@tailwind utilities;



/* .input {
  @apply border-0 border-gray-300 rounded-md;
} */


input:focus{ outline: none; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.body{
  @apply w-full h-full opacity-90;
  min-width: 1920px;
  min-height: 978px;
  /* width: 1920px;
  height: 978px; */
  display: inline-block;
  background-image: url('/bg-image-genshin2.webp');
  background-size: 100% 100%;
  animation: bg-genshin 20s infinite;
}

@keyframes bg-genshin {
  33%{ background-image: url('/bg-image-genshin4.webp'); }
  66%{ background-image: url('/bg-image-genshin5.jpg'); }
  100%{ background-image: url('/bg-image-genshin2.webp'); }
}
